<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바른 자세 교정 서비스</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            margin-top: 125px; 
        }
    </style>
</head>
<body>

    <div class="popup" id="popup">
        <p>바른 자세를 해주세요!</p>
        <span class="close" id="popup-close">확인</span>
    </div>
        <div class="banner" id="banner">
            
   
            <img src="{{ url_for('static', filename='bareun-big.png') }}" class="bareun-big" alt="Banner Image">
           
            <div class="text-container">
            <p class="main-title">자세 서비스</p>
            <p class="subtitle">당신의 척추 건강을 지켜드립니다!</p>
            </div>

            <div class="nav-subtitle"> 
                
            <nav>                
                <ul>
                    <li><a href="{{ url_for('index') }}">자세 교정</a></li>
                    <li><a href="{{ url_for('equipment') }}">장비 추천</a></li>
                    <li><a href="{{ url_for('stretching') }}">스트레칭</a></li>
                    <img src="{{ url_for('static', filename='desk.png') }}" class="desk" alt="Banner Image">
                </ul>
            </nav>

        </div>
    </div>
    <div class="container">
        <div class="instructions">
            <h2>사용법</h2>
            <ul>
                <li>1. 캠을 상반신이 잘 보이도록 조정한다.</li>
                <li>2. 턱을 당기고 어깨를 펴고 캡처 버튼을 누른다.</li>
                <li>3. 그 자세를 유지하도록 노력해보세요!</li>
            </ul>
        </div>
    </br>
        <div class="posture-status">
            <p id="status-text" class="status-text">로딩 중 입니다..</p>
        </div>

        <div class="video-container video-container-posture">
            <div class="video-wrapper">
                <img id="video" src="{{ url_for('video_feed') }}" alt="Video Feed">
            </div>
        </div>
        <button id="capture-button" class="btn">캡처</button>
        <button id="recapture-button" class="btn" style="display: none;">다시 캡처 하기</button>
        
        <div class="footer">
            <p>© 2024 국민대학교 멋쟁이사자처럼 팀 ETC. All rights reserved.</p>
        </div>
        <audio id="alert-sound" src="{{ url_for('static', filename='alert-sound.mp3') }}" preload="auto"></audio>

    </div>

    <script>


        window.addEventListener('scroll', function() {
            const banner = document.getElementById('banner');
            if (window.scrollY > 0) {
                banner.classList.add('scrolled');
            } else {
                banner.classList.remove('scrolled');
            }
        });

        document.getElementById('capture-button').addEventListener('click', function() {
            fetch('/capture', { method: 'POST' }).then(function(response) {
                if (response.ok) {
                    document.getElementById('status-text').innerText = '자세가 캡처되었습니다!';
                    document.getElementById('capture-button').style.display = 'none';
                    document.getElementById('recapture-button').style.display = 'inline-block';
                }
            });
        });

        document.getElementById('recapture-button').addEventListener('click', function() {
            fetch('/capture', { method: 'POST' }).then(function(response) {
                if (response.ok) {
                    document.getElementById('status-text').innerText = '자세가 다시 캡처되었습니다!';
                }
            });
        });

        let alertActive = false;

        function showAlert() {
            //소리 재생
            const alertSound = document.getElementById('alert-sound');
            const popup = document.getElementById('popup');
            
            alertSound.play();

            popup.classList.add('show');

            document.getElementById('popup-close').addEventListener('click',function(){
                popup.classList.remove('show');
            })

            alertActive = true;
            setTimeout(() => {
                alertActive = false;
                checkPosture(); // 다시 상태 확인 시작
            }, 10000);  // 10초 후에 다시 상태를 확인
        }

        function checkPosture() {
            if (alertActive) {
                return;
            }

            fetch('/posture_status')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('status-text').innerText = data.status;
                    if (data.alert && !alertActive) {
                        showAlert();
                    }
                });
        }

        setInterval(checkPosture, 1000);  // 1초마다 상태를 확인합니다
        

    
    </script>
</body>
</html>
