<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바른 자세 교정 서비스</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='bareun-big.png') }}" type="Image/png">
    <style>
        body {
            margin-top: 55px; 
        }
    </style>
</head>
<body>

    <div class="banner" id="banner">
            
   
        <img src="{{ url_for('static', filename='bareun-big.png') }}" class="bareun-big" alt="Banner Image">
       
        <div class="text-container">
        <p class="main-title">자세 서비스</p>
        <p class="subtitle">당신의 척추 건강을 지켜드립니다!</p>
        </div>

        <div class="nav-subtitle"> 
            
        <nav>                
            <ul>
                <li><a href="{{ url_for('index') }}">자세 교정</a></li>
                <li><a href="{{ url_for('equipment') }}">장비 추천</a></li>
                <li><a href="{{ url_for('stretching') }}">스트레칭</a></li>
                <img src="{{ url_for('static', filename='desk.png') }}" class="desk" alt="Banner Image">
            </ul>
        </nav>

    </div>
</div>

    <div class="popup" id="popup">
        <p>바른 자세를 해주세요!</p>
        <span class="close" id="popup-close">확인</span>
    </div>
    <div class="banner" id="banner">
        <img src="{{ url_for('static', filename='bareun-big.png') }}" class="bareun-big" alt="Banner Image">
        <div class="text-container">
            <p class="main-title">자세 서비스</p>
            <p class="subtitle">당신의 척추 건강을 지켜드립니다!</p>
        </div>
        <div class="nav-subtitle">
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">자세 교정</a></li>
                    <li><a href="{{ url_for('equipment') }}">장비 추천</a></li>
                    <li><a href="{{ url_for('stretching') }}">스트레칭</a></li>
                    <img src="{{ url_for('static', filename='desk.png') }}" class="desk" alt="Banner Image">
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <p class="subtitle">건강한 자세 유지를 위한 스트레칭 영상을 확인하세요.</p>
        <div class="video-container video-container-stretching">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/CbUciuVHmHc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="footer">
            <p>© 2024 국민대학교 멋쟁이사자처럼 팀 ETC. All rights reserved.</p>
        </div>
    </div>
    <script>
        window.addEventListener('scroll', function() {
            const banner = document.getElementById('banner');
            if (window.scrollY > 0) {
                banner.classList.add('scrolled');
            } else {
                banner.classList.remove('scrolled');
            }
        });

        document.getElementById('popup-close').addEventListener('click', function() {
            document.getElementById('popup').classList.remove('show');
        });
    </script>
</body>
</html>
